name: Java CI

on: [release]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set env
      run: echo ::set-env name=RELEASE_VERSION::$(echo ${GITHUB_REF:10})
    - name: Build with Gradle
      run: ./gradlew -Pversion=$RELEASE_VERSION clean build
    - name: Create Jar Pack
      run: pack200 --no-gzip launcher.jar.pack launcher/builds/libs/launcher-$RELEASE_VERSION-all.jar
    
